body{
    background-color: hsl(30, 38%, 92%);
    padding: 0;
    margin: 0;
    
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:14px;
    /* position: relative; */
}
.container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    border: 1px solid transparent;
    border-radius: 0.5rem;

    position: absolute; 
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.container img{
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}
.container .img-desktop{
    display: none;
}
.container .content{
    padding:20px;
}
.price{
    display: flex;
    justify-content: flex-start;

}
.new-price{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
.old-price{
    text-decoration: line-through;
    padding-left: 20px;
}
.add-btn{
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    line-height: 1.5;
    padding:0.3rem 0.75rem;
    width: 100%;
}
/* font & background color */
.font-mont{
    font-family: 'Montserrat', sans-serif;
}
.font-Fraun{
    font-family: 'Fraunces', serif;
}
.dark-cyan{
    color: hsl(158, 36%, 37%);
}
.white{
    color: white;
}
.bg-dark-cyan{
    background-color: hsl(158, 36%, 37%);
}
.dark-blue{
    color: hsl(228, 12%, 48%);
}
